body{
    background-color: white;
}

#logo{
    background-image: url("h_img.jpg");
    background-size: cover;
    text-align: center;
    color: white;
         
}

#about-us{
    margin-top: 10px;
    text-align: center;
}

#services-banner{
    background-image: url(s_image.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.contactus{
    background-image: url(c_image.jpg);
    background-size:cover;
    display: cover;
    padding: 10%;
}


#socialtools{
    margin-left: 20%;
}

p{
    text-align: center;
}


h5{
    text-align: center;
}

#image{
    display: flex;
    justify-content:center ;
}

/* .Hover{
    opacity:0;
    background-color: rgba(255, 255, 255, 0.623);
    position: absolute;
    top:25%;
    bottom:25%;
    left:25%;
    right:25%; 
    
} */

#custom-info-on-portfolio-images{
    height: 280px;
    max-width: 280px;
    padding:1em;
  }

.row{
    padding: 2%;
  
    
}


#submit{
    padding-left: 5%;
    margin: 5%;
}

.hide{
    display: none;
}

input[type=text]{

    background: transparent;
    color: white;
}

textarea[type=text]{
    background:transparent;
    color: white;
    
}

.Hover{
    height: 310px;
    width: 365px;
    position: absolute;
    background-color: white;
    opacity: 0;
    margin-bottom: ;
    margin-top: -8cm;
  
    

}